.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 7px; /* Espaçamento entre os campos */
  }
  
  .form-field {
    flex: 1 0 calc((100% / 3) - 7px); /* Calcula a largura dos campos para ocupar aproximadamente 1/3 da largura */
  }
  
  button {
    margin-top: 5px; /* Espaço acima dos botões */
  }
  
  button + button {
    margin-left: 10px; /* Espaço entre os botões */
  }