<div class="login-container">
  <div class="login-box">
<mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
      </mat-form-field>
    </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="login-button" mat-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
    </mat-card>
  </div>
</div>

<mat-card *ngIf="successMessage" class="success-message">
  <mat-card-content>
    {{ successMessage }}
  </mat-card-content>
</mat-card>