.dashboard-card {
    border-radius: 10px;
    background-color: #e0e0e0; /* Cor de background dos dashboards */
    margin-bottom: 5mm; /* Espaçamento entre os dashboards */
    margin-top: 10mm;
    background-color: rgb(28, 170, 0);
  }
  
  .dashboard-value {
    font-size: 24px; /* Tamanho da fonte do valor */
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px; /* Espaçamento entre os dashboards */
    margin-top: 2mm; /* Distância de 2mm do topo */
  }